<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css">
    <link rel="stylesheet" href="../static/main.css">
    <meta charset="UTF-8">
    <title>Trending Movies Dashboard</title>
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">

    <script src="../static/main.js"></script>

</head>
<body>


<div class="movie-card" style="margin-top: 50px">
    <div class="poster-wrapper">
        <button type="button" class="close" onclick="close_tab()">
            <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg" role="button"
                 aria-label="close" tabindex="0">
                <path fill-rule="evenodd" clip-rule="evenodd"
                      d="M2.29297 3.70706L10.5859 12L2.29297 20.2928L3.70718 21.7071L12.0001 13.4142L20.293 21.7071L21.7072 20.2928L13.4143 12L21.7072 3.70706L20.293 2.29285L12.0001 10.5857L3.70718 2.29285L2.29297 3.70706Z"
                      fill="currentColor"></path>
            </svg>
        </button>
        <div class="poster">
            <img src={{movie.poster}} alt="poster"/>
            <button class="button" style="vertical-align:middle" onclick="gotoIMDB()" id="imdb_btn"><span>IMDb</span>
                &nbsp;&nbsp; &nbsp;<i class="fa-sharp fa-solid fa-arrow-up-right-from-square"></i></button>
        </div>
    </div>
    <!-- end poster-wrapper -->
    <div class="movie-info">
        <div class="header-section">
            <h2>{{movie.title}}</h2>
            <p>{{movie.genre}} | {{movie.lang}} | {{movie.release_year}}</p>
            <div class="extra" style="margin-top: 15px">
                <i class="fa fa-sharp fa-solid fa-star" style="font-size: 32px; color: #fdba2e"></i>
                <p class="channels">
                <p style="font-size: 24px; color: white"><b>&nbsp; {{movie.rating}} </b></p><span> &nbsp;&nbsp; based on &nbsp;</span><span>{{movie.vote_count}} &nbsp;</span><span> users</span></p>
            </div>
            <div class="extra" style="margin-top: 15px">
                <i class="fa fa-sharp fa-solid fa-fire" style="font-size: 32px; color: red"></i>
                <p class="channels">
                <p style="font-size: 24px; color: white"><b>&nbsp; {{movie.popularity}} </b></p></p>
            </div>
        </div>
        <div class="cast-section">
            <h3>CAST</h3>
            <div class="casts">

                <p>{{movie.actors}}</p>
            </div>
        </div>
        <div class="cast-section">
            <h3>DIRECTORS</h3>
            <div class="casts">
                <p>{{movie.directors}}</p>
            </div>
        </div>
        <div class="synopsis-section">
            <h3>SYNOPSIS</h3>
            <p>
                {{movie.overview}}
            </p>
        </div>
        <div class="gallery-section">
            <h3>REVIEWS & COMMENTS</h3>
            <div id="rev_not_available" style="visibility: hidden"><p>Reviews not available!</p></div>
            <div class="grid-container" id="reviews_section">
                <div class="grid-item"><img
                        src="https://www.edigitalagency.com.au/wp-content/uploads/Twitter-logo-png-1.png"
                        style="padding-top: 20px; width: 80%"/>

                </div>
                <div class="grid-item" style="padding-top: 20px">
                    <div class="grid-item">
                        <button class="btn tooltip" id="pos_tweet">{{movie.positive_tweets_count}}<i
                                class="fa-solid fa-thumbs-up"
                                style="color: lawngreen"></i> <span class="tooltiptext"><i>Positive Tweets</i><br> <ol> {% for n in movie.positive_tweets_text %} <li><br> {{n}} </li> {% endfor %} </ol></span>
                        </button>
                    </div>
                    <div class="grid-item">
                        <button class="btn tooltip">{{movie.negative_tweets_count}} <i class="fa-solid fa-thumbs-down"
                                                                                       style="color: red"></i>
                            <span class="tooltiptext"><i>Negative Tweets</i><br><ol> {% for n in movie.negative_tweets_text %} <li> {{n}} </li><br> {% endfor %} </ol></span>
                        </button>
                    </div>
                </div>
                <div class="grid-item"><img
                        src="https://logodownload.org/wp-content/uploads/2018/02/reddit-logo-16.png"
                        style="padding-top: 20px; width: 70%;"
                /></div>
                <div class="grid-item" style="padding-top: 20px">
                    <div class="grid-item">
                        <button class="btn tooltip">{{movie.positive_comments|length}} <i class="fa-solid fa-thumbs-up"
                                                                                          style="color: lawngreen"></i>
                            <div style="overflow: auto"><span class="tooltiptext"><i>Top 5 Positive Comments</i><br><ol>{% for n in movie.positive_comments %} <li>{{n}}</li><br>{% endfor %}</ol></span>
                            </div>
                        </button>
                    </div>

                    <div class="grid-item">
                        <button class="btn tooltip">{{movie.negative_comments|length}}<i class="fa-solid fa-thumbs-down"
                                                                                         style="color: red"></i>
                            <span class="tooltiptext"><i>Top 5 Negative Comments</i><br><ol> {% for n in movie.negative_comments %} <li> {{n}} </li><br> {% endfor %} </ol></span>
                        </button>
                    </div>
                </div>
            </div>

        </div>

        <div class="gallery">
            <h3>RECOMMENDATIONS</h3>
            <logo-slider>
                <div id="permas">
                </div>
            </logo-slider>

        </div>
    </div>
</div>


<script>
    var imdb_url = '{{ movie.imdb_link }}'
    var movie_id = '{{movie.tmdb_id}}'
    var no_review = '{{movie.no_review}}'
    setObject("imdb_url", imdb_url)
    setObject("tmdb_id", movie_id);
    if (no_review) {

        console.log("inside no review")

        document.getElementById("rev_not_available").style.visibility = "visible";
        document.getElementById("reviews_section").style.display = "none";
    }
</script>
</body>

</html>
